<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd" backupGlobals="false" backupStaticAttributes="false" colors="true" convertErrorsToExceptions="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true" processIsolation="false" stopOnFailure="false" bootstrap="vendor/autoload.php">
  <coverage>
    <include>
      <directory suffix=".php">src/</directory>
    </include>
    <report>
      <clover outputFile="build/logs/clover.xml"/>
      <html outputDirectory="build/coverage" lowUpperBound="45" highLowerBound="80"/>
      <text outputFile="build/logs/coverage.txt"/>
    </report>
  </coverage>
  <testsuites>
    <testsuite name="embeddables library Test Suite">
      <directory>tests/</directory>
    </testsuite>
  </testsuites>
  <logging>
    <junit outputFile="build/logs/report.junit.xml"/>
  </logging>
</phpunit>
